body {
  background-color: black;
  color: #33FF33;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  margin: 0;
}

.terminal {
  max-width: 800px;
  margin: 0 auto;
  white-space: pre-wrap;
}

.line {
  margin: 0;
  line-height: 1.5;
}

.line a{
    margin: 0;
  line-height: 1.5;
  text-decoration: none;
  color: #3607f2;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

span {
  color: #33FF33;
}

#close{
    color: red;
    text-decoration: none;
    font-size: 16px;
}
